<button
  tuiButton
  iconStart="@tui.plus"
  size="s"
  type="submit"
  [disabled]="expanded() || disabled()"
  (click)="expanded.set(true)"
>
  Create flag
</button>

<tui-expand [expanded]="expanded()">
  <ng-template tuiExpandContent>
    <form
      [formGroup]="flagForm"
      (ngSubmit)="submit()"
    >
      <p [style.color]="'var(--tui-text-secondary)'">
        The flag will be created in all environments, and it will be disabled by default
      </p>
      <div class="tui-form__row" [style.margin-top.px]="10">
        <tui-input formControlName="flagName" tuiTextfieldSize="m">
          Flag name
          <input tuiTextfieldLegacy />
        </tui-input>

        <tui-error
          formControlName="flagName"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <div class="tui-form__buttons">
        <button
          tuiButton
          size="s"
          type="button"
          appearance="outline-destructive"
          (click)="close()"
          [style.margin-right.px]="10"
          [disabled]="requestStatus.loading()"
        >
          Cancel
        </button>

        <button
          tuiButton
          iconStart="@tui.plus"
          size="s"
          appearance="primary"
          type="submit"
          [loading]="requestStatus.loading()"
        >
          Create
        </button>
      </div>
    </form>
  </ng-template>
</tui-expand>
