<form [formGroup]="signupForm" class="signup-form" (ngSubmit)="onSubmit()">
  <div class="tui-form__header">
		Signup
	</div>

  <div class="tui-form__row">

		<label
			tuiLabel
			class="tui-space_bottom-4"
		>
			<tui-input formControlName="email" tuiTextfieldSize="s">
				Email
				<input tuiTextfieldLegacy type="email" />
			</tui-input>
	
			<tui-error
				formControlName="email"
				[error]="[] | tuiFieldError | async"
			/>
		</label>

  </div>

  <div class="tui-form__row">

		<label
			tuiLabel
			class="tui-space_bottom-4"
		>
			<tui-input formControlName="nickname" tuiTextfieldSize="s">
				Nickname
				<input tuiTextfieldLegacy type="text" />
			</tui-input>
	
			<tui-error
				formControlName="nickname"
				[error]="[] | tuiFieldError | async"
			/>
		</label>

  </div>


  <div class="tui-form__row">
    <tui-input formControlName="password" tuiTextfieldSize="s">
      Password
      <input tuiTextfieldLegacy type="password" />
    </tui-input>

		<tui-error
			formControlName="password"
			[error]="[] | tuiFieldError | async"
		/>
  </div>


  <div class="tui-form__row">
    <tui-input formControlName="confirmPassword" tuiTextfieldSize="s">
      Confirm password
      <input tuiTextfieldLegacy type="password" />
    </tui-input>

		<tui-error
			formControlName="confirmPassword"
			[error]="[] | tuiFieldError | async"
		/>
  </div>

	<div class="tui-form__buttons">
		<button
			tuiButton
			[disabled]="!signupForm.valid"
			type="submit"
			class="tui-form__button"
			appearance="primary"
			size="m"
		>
			Register
		</button>

		<button
			tuiButton
			type="button"
			class="tui-form__button"
			appearance="flat"
			size="m"
      (click)="gotoLogin()"
		>
			Sign In
		</button>
	</div>

</form>