<h1>{{ projectResource.value()?.name }}</h1>


<div class="section">
  <div class="section__title">
    Members
  </div>

  <div class="section__container" [style.align-items]="'center'">
    @for (member of showableMembers(); track member.id) {
      <div tuiAppearance="neutral" tuiCardMedium class="member-card">

        <tui-avatar>
          {{ getAvatarInitials(member.nickname) }}
        </tui-avatar>

        <h2 tuiTitle>
          <div class="member-card__name">
            {{ member.nickname }} 
            @if (member.isOwner) {
              <tui-badge appearance="primary">Owner</tui-badge>
            }
          </div>
          <span tuiSubtitle>{{ member.email }}</span>
        </h2>
      </div>
    }

    @if (showableMembers().length < (projectResource.value()?.members ?? []).length) {
      <tui-avatar>
        +{{ projectResource.value()!.members.length - showableMembers().length }}
      </tui-avatar>
    }
  </div>
</div>

<div class="section">

  <div class="section__title">
    Environments
  </div>

  <div class="section__toolbar">
    <button
      appearance="primary"
      iconStart="@tui.plus"
      size="s"
      tuiButton
      type="button"
    >
      New environment
    </button>
  </div>

  <div class="section__container">
    @for (environment of projectResource.value()?.environments; track environment.id) {
      <app-environment-card [environment]="environment" />
    }
    @empty {
      <h2 tuiTitle>No environments yet</h2>
    }
  </div>
</div>