.section {
  &__title {
    margin-top: 2rem;  
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &__toolbar {
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    gap: 1rem;
  }
}

.member-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 250px;
  height: auto;

  &__name {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
  }
}