<header tuiNavigationHeader>
  <span tuiNavigationLogo>
    <span tuiFade>Feature flag service</span>
  </span>
  <hr />
  <tui-avatar src="AI" />
</header>
<div [style.display]="'flex'">
  <aside [style.height]="'calc(100vh - 48px)'" [tuiNavigationAside]="expanded()">
    <header>
      <button iconStart="@tui.home" tuiAsideItem type="button">
        <span tuiFade>Home</span>
      </button>
    </header>

    <a
      iconStart="@tui.layout-dashboard" 
      tuiAsideItem
      routerLink="/dashboard/projects"
    >
      Projects
    </a>

    <!-- <tui-aside-group>
      <button
        automation-id="setting"
        iconStart="@tui.settings"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Settings
        <ng-template>
          <button tuiAsideItem type="button">Account</button>
          <button tuiAsideItem type="button">Privacy</button>
        </ng-template>
      </button>
    </tui-aside-group> -->

    <footer>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded.set(!expanded())"
      >
        {{ expanded() ? "Collapse" : "Expand" }}
      </button>
    </footer>
  </aside>

  <main tuiNavigationMain [style.display]="'block'">
    <nav tuiNavigationNav [style.position]="'sticky'" [style.height.px]="48">
      @if (title() !== 'Dashboard') {
        <a routerLink="/dashboard">
          <tui-icon icon="@tui.chevron-left" />
          Back
        </a>
        /
      }

      <span tuiNavigationLogo>
        <span tuiFade>{{ title() }}</span>
      </span>

      <hr />
      <!-- <tui-tabs tuiFade>
        <button tuiTab type="button">Default view</button>
        <button tuiTab type="button">Details</button>
        <button tuiTab type="button">Followers</button>
      </tui-tabs>
      <button appearance="secondary" tuiButton type="button">Secondary</button>
      <button tuiButton type="button">Primary</button> -->
      <ng-content select="navbar-actions" />
    </nav>

    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
