<div [style.text-align]="'right'">
  @if (changesToSave()) {
    <button
      tuiButton
      iconStart="@tui.x"
      size="s"
      [appearance]="'outline-destructive'"
      (click)="resetLocalFlags()"
      [style.margin-right.px]="10"
    >
      Cancel changes
    </button>
  }

  <button
    tuiButton
    iconStart="@tui.save"
    size="s"
    [appearance]="changesToSave() ? 'primary' : 'secondary'"
    [disabled]="!changesToSave()"
    (click)="saveChanges()"
    [loading]="updateFlagsRequestStatus.loading()"
  >
    Save changes
  </button>
</div>

<div [style.margin-top.px]="10">
  @for (flag of sortedFlags(); track flag.id) {
    <label tuiCell>
      <div tuiTitle [style.color]="'var(--tui-text-secondary)'">
        {{ flag.name }}
      </div>
      <input
        tuiSwitch
        type="checkbox"
        [ngModel]="flag.enabled"
        (ngModelChange)="toggleLocalFlag(flag.id)"
      />
    </label>
  }
</div>
