<tui-drawer *tuiPopup="environmentDrawerService.isDrawerOpen()">
  <header>
    <h2 tuiHeader>
      <div tuiTitle>{{ environmentResource.value()?.name }}</div>
      <div tuiAccessories>
        <button
          appearance="icon"
          iconStart="@tui.x"
          tuiIconButton
          type="button"
          (click)="environmentDrawerService.closeDrawer()"
        >
          Close
        </button>
      </div>
    </h2>

    <div class="public-key__container">
      Public key:
      <code>
        {{ environmentResource.value()?.public_key }}

        <button
          tuiHint="Copy public key"
          tuiHintAppearance="dark"
          tuiHintDirection="right"
          appearance="action-grayscale"
          iconStart="@tui.clipboard"
          size="xs"
          tuiIconButton
          type="button"
          [style.border-radius.%]="100"
          (click)="clipboardService.copyToClipboard(environmentResource.value()?.public_key ?? '')"
        ></button>

      </code>


    </div>
  </header>

  <div>
    <app-new-flag-form
      (created)="environmentResource.reload()"
    />

    <hr style="margin: 30px 0" />

    <div>
      <app-test-payload 
        [environmentPublicKey]="environmentResource.value()?.public_key" 
      />
    </div>

    <hr style="margin: 30px 0" />

    <div [style]="{ 'margin-top': '30px' }">
      <app-flag-list
        [environmentId]="environmentResource.value()?.id"
        [remoteFlags]="environmentResource.value()?.flags ?? []"
        (saved)="environmentResource.reload()"
      />
    </div>

  </div>
</tui-drawer>
